<div class="header">
	<div class="titletext">
		<div class="wrapper"> 
			<p><span class="caps">C</span>REAGH <span class="caps">C</span>REATIONS</p>
			<div class="navigation headerbar">
				<ul>
					<li class="isFirst"><a href="" ng-click="vm.nav='Projects'" ng-hide="vm.nav=='Projects'">Projects</a></li>
					<li class="isLast"><a href="" ng-click="vm.nav='Contact'" ng-hide="vm.nav=='Contact'">Contact</a></li>
					<li class="isLast"><a href="" ng-click="vm.nav='About'" ng-hide="vm.nav=='About'">About</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="descriptionbar">				
		<div class="wrapper">
			<div class="description">
				Mobile &amp; Web App Design &amp; Development
			</div>
		</div>
	</div>
</div>
<div class="navigation middle">
	<div class="specialwrapper">
		<ul>
			<li class="isFirst"><a href="" ng-click="vm.nav='Projects'" ng-hide="vm.nav=='Projects'">Projects</a></li>
			<li class="isLast"><a href="" ng-click="vm.nav='Contact'" ng-hide="vm.nav=='Contact'">Contact</a></li>
			<li class="isLast"><a href="" ng-click="vm.nav='About'" ng-hide="vm.nav=='About'">About</a></li>
		</ul>
			
		<div id="location">
			&nbsp;&nbsp;-&nbsp;&nbsp;{{vm.nav}}&nbsp;&nbsp;-&nbsp;&nbsp;
		</div>
	</div>			
</div>