html {
    background-color: #f1eeea;
    background-image: url( '../images/ricepaper.png' );
    background-repeat: repeat;
    background-position: top left;
    font-family: 'Questrial', Verdana, sans-serif; 
    color: #003300;
}

/* Headings */

.heading {
  font-size: 0.75em;
}

.title {
  text-align: center;
}

/* links */

a {
    color: #003300;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

a img.externalLink {
    width: 0.375em;
    height: 0.375em;
}

/* iphone landscape */
@media screen and (min-width: 380px), screen and (max-height: 700px){

}

/* iphone 6 plus portrait */

@media screen and (min-width: 400px) {

}

/* iphone 6 plus landscape */
@media screen and (min-width: 420px) {
  .title {
    text-align: left;
  }
}

/* ipad portrait */
@media screen and (min-width: 700px)and (orientation: portrait){

}

