.ProjectList {
    color: #6DA169;
}

li.ProjectCategory {
    float: left;
    width: 41.666667%;
    margin: 1em 4.166667% 1em 4.166667%;    
}

li.ProjectCategory a {
    display: block;
    overflow: auto;
    width: 100%;
    outline: #003300 solid thin;
}
/*
li.ProjectCategory a:hover {
    background-color: #0d776b; 
}
*/
li.ProjectCategory a:hover div.ProjectCategoryImage img{
    opacity: 1;
}

li.ProjectCategory a div.ProjectCategoryImage img{
    opacity: 0;
}

li.ProjectCategory a:link,
li.ProjectCategory a:visited,
li.ProjectCategory a:link div.ProjectCategoryImage img,
li.ProjectCategory a:visited div.ProjectCategoryImage img,
a:link.projectpanel img,
a:visited.projectpanel img {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

div.ProjectCategoryImage{
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;    
}

div.ProjectCategoryImage.html5projects{
    background-image: url( '../images/thumbnails/projectcategories/thumbOverlayHTML5.png' );
}

div.ProjectCategoryImage.appleprojects{
    background-image: url( '../images/thumbnails/projectcategories/thumbOverlay1Apple.png' );  
}


div.ProjectCategoryImage.flashprojects{
    background-image: url( '../images/thumbnails/projectcategories/thumbOverlayFlash.png' );  
}

div.ProjectCategoryImage.otherprojects{
    background-image: url( '../images/thumbnails/projectcategories/thumbOverlayOtherStuff.png' );  
}

a.projectpanel{
    display: block;
/*    float: left;*/
    width: 95%;
    outline: #003300 solid thin;
    margin: 1em auto;
    background-image: url( '../images/ricepaperdark.jpg' );
    background-repeat: repeat;
    background-position: top left;
    background-attachment: fixed;    
    padding: 1em 0;    
    text-decoration: none;  
    color: #003300;
}

a.projectpanel div.projectimage {
    float: right;
    width: 33.333333%;
    margin: 0 6.25% 0 0;
    outline: #003300 solid thin;
    background-size: 100%;
    background-repeat: no-repeat;     
}

/* -- Individual Project roll-overs -- */
a.projectpanel div.projectimage.CEM {
    background-image: url( '../images/thumbnails/HTML5/CuttingEdgeThumbnailRollOver.png' );
}

a.projectpanel div.projectimage.Tetrid {
    background-image: url( '../images/thumbnails/HTML5/TetridThumbOverlay.png' );
}

a.projectpanel div.projectimage.YLS {
    background-image: url( '../images/thumbnails/HTML5/thumbYLS.png' );
}

a.projectpanel div.projectimage.shnake {
    background-image: url( '../images/thumbnails/HTML5/ShnakeThumbOverlay.png' );
}

a.projectpanel div.projectimage.NOG {
    background-image: url( '../images/thumbnails/ios/72namesofgodThumboverlay.png' );
}

a.projectpanel div.projectimage.ninja {
    background-image: url( '../images/thumbnails/ios/ninja_stickerRollOver.png' );
}

a.projectpanel div.projectimage.flake {
    background-image: url( '../images/thumbnails/flash/FlakeOverlay.png' );
}

a.projectpanel div.projectimage.thissite {
    background-image: url( '../images/thumbnails/HTML5/thisSiteRollOver.png' );
}

a.projectpanel div.projectimage.clear {
    background-image: url( '../images/thumbnails/flash/ClearBarOverlay.png' );
}

a.projectpanel div.projectimage.buzzing {
    background-image: url( '../images/thumbnails/otherprojects/BuzzingThumbOverlay.png' );
}

a.projectpanel div.projectimage.kaji {
    background-image: url( '../images/thumbnails/otherprojects/KajiThumbOverlay.png' );
}

a.projectpanel div.projectimage.misanthropia {
    background-image: url( '../images/thumbnails/otherprojects/MusicThumbOverlay.png' );
}

a.projectpanel div.projectimage.BT2 {
    background-image: url( '../images/thumbnails/ios/BT2Overlay.png' );
}

a.projectpanel div.projectimage.eGamebook {
    background-image: url( '../images/thumbnails/ios/eGameBookOverlay.jpg' );
}

a.projectpanel div.projectimage.NHS {
    background-image: url( '../images/thumbnails/ios/NHS.jpg' );
}

a.projectpanel img{
    opacity: 1;
}

a.projectpanel:hover img{
    opacity: 0;
}

a.projectpanel div.projecttitle{
    margin-left: 6.25%;
    padding-bottom: 0.5em;
    text-shadow: 0 1px 0 #D7EEF2;    
    font-size: 2em;
}

a.projectpanel ul{
    margin-left: 6.25%;
    list-style: circle;
}

a.projectpanel ul li{
    padding-bottom: 0.25em;
    font-size: 1.25em;
}

#location a:hover{
    text-decoration: underline;
}

/* =================
** LOWER MIDDLE SIZE 
** =================
*/

@media screen and (min-width: 700px){
    li.ProjectCategory{
        margin: 2em 4.166667%;
    }
    
    
    /* to stop object pushing to next line */
/*    a.projectpanel.right{*/
/*      margin-right: 0;*/
/*    }*/

    a.projectpanel{
/*      display: block;*/
      float: left;
      width: 100%;
    }
}

/* =================
** UPPER MIDDLE SIZE 
** =================
*/

@media screen and (min-width: 770px){
    li.ProjectCategory {
        float: left;
        width: 20%;
        margin: 2em 2.5%;
    }
        
    /* === swap these round to make it look snazier on desktop resolutions === */
    /* === essentially because no mouse-over action on iPad === */
    
    li.ProjectCategory a:hover div.ProjectCategoryImage img{
        opacity: 0;
    }

    li.ProjectCategory a div.ProjectCategoryImage img{
        opacity: 1;
    }

    /* Individual project panel adjustments
    */

    a.projectpanel{
        width: 45.833333%;   
        margin: 1em 8.333333% 1em 0;
    }
    a.projectpanel div.projecttitle{
        font-size: 1.5em;    
    }

    a.projectpanel ul li{
        font-size: 1em;
    }
}