html {
    background-color: #f1eeea;
    background-image: url( '../images/ricepaper.png' );
    background-repeat: repeat;
    background-position: top left;
    font-family: 'Questrial', Verdana, sans-serif; 
    color: #003300;
}

#main {
  margin: 0.25em 0 0 0;
}

div.wrapper{
  width: 94%;
  margin-left: auto;
  margin-right: auto;
}

/* Headings */
.heading {
  font-size: 125%;
}

.title {
  font-size: 150%;
}

.experiencedate {
  display: block;
  width:100%;
  font-style: italic;
  color: #686868;
  font-size: 112.5%;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
}

h4 {
  display: block;
  width:100%;

  color: #686868;
  font-size: 112.5%;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

/* Body */
.wrapper {
  width: 100%;
}

li {
  line-height: 1.25;
  list-style-type: circle;
  list-style-position:inside;
  font-size: 90%;
}

.listBlock {
  margin-bottom: 1.5em;
}

/* links */
a {
  color: #003300;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

a img.externalLink {
  width: 0.375em;
  height: 0.375em;
}

/* Projects */
.projectTitleContainer {
  width: 100%;
  text-align: center;
}

a.projectpanel div.projecttitle{
  padding-bottom: 0.5em;
  text-shadow: 0 1px 0 #D7EEF2;
  font-size: 1.5em;
}

a.projectpanel ul li{
  padding-bottom: 0.25em;
  font-size: 0.9em;
  list-style-position: inside;
}

/* iphone landscape */
@media screen and (min-width: 380px), screen and (max-height: 700px){

}

/* iphone 6 plus portrait */
@media screen and (min-width: 400px) {
  a.projectpanel ul li{
    font-size: 1em;
  }
}

/* iphone 6 plus landscape */
@media screen and (min-width: 420px) {
  .title {
    text-align: left;
  }
}

/* ipad portrait */
@media screen and (min-width: 700px)and (orientation: portrait){
  .wrapper {
    width: 93.75%; /* 1/16 */
  }
  
  a.projectpanel div.projecttitle{
    font-size: 2.25em;
  }
  
  a.projectpanel ul li{
    font-size: 1.75em;
  }
}

